.heroContent {
	display: flex;
	flex-direction: row-reverse;

	@media (max-width: 1100px) {
		flex-direction: column;
	}
}

.heroImage {
	min-width: 50%;
	position: relative;

	& img {
		width: calc(100% + 114px);
		position: absolute;
		top: 8px;
		left: 7px;

		@media (max-width: 1555px) {
			width: 100%;
			top: 67px;
		}

		@media (max-width: 1100px) {
			position: static;
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 500px;
		}
	}
}

.heroText {
	padding-right: 1em;

	& h1 {
		min-height: 106px;

		@media (max-width: 540px) {
			min-height: 159px;
		}

		@media (max-width: 393px) {
			min-height: 212px;
		}
	}

	p {
		margin-bottom: 30px;
	}
}

// consider https://github.com/SigurdMW/julekalender/blob/master/src/components/FancyWord/index.js