body {
  color: white;
  background-color: #502586;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.da-footer {
  color: white; /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  margin-top: 3em;
  text-align: center;

  &-trademark {
    padding-top: 1em;
    font-size: 0.85em;
  }
}

h1 {
  font-family: "Lobster";
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .da-footer {
    font-size: 5vw;
  }
}
.da-footer > div {
  margin: 0 5px 0 5px;
}
a {
  color: #fff;
  text-decoration: underline;

  &:focus,
  &:active,
  &:visited {
    color: #fff;
    text-decoration: underline;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}
.site-content {
  width: 100%;
  flex: 1;
}
.da-button {
  display: inline-block;
  padding: 5px;
  width: 115px;
  border-radius: 3px;
  font-family: "Lobster", cursive;
  font-size: 15px;
  cursor: pointer;

  &:active {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    outline: none;
  }
}

.da-button.da-btn-large {
  width: 160px;
  font-size: 20px;
}
a.da-button {
  text-decoration: none;
  text-align: center;
}
.da-golden-btn {
  background: linear-gradient(to right, #b97f24, #bf9553);
  background: linear-gradient(to right, #875d1a, #8c6e3c);
  border: none;
  color: white;

  &:hover {
    background: linear-gradient(to right, #d49228, #d9a95d);
    border: none;
    color: white;
  }

  &:active {
    background: linear-gradient(to right, #875d1a, #8c6e3c);
    border: none;
    color: white;
  }
}

.da-btn-purple {
  background: linear-gradient(to right, #522888, #6c39ae);
  color: white;
  border-width: 1px;
  border-color: #b97f24;

  &:hover {
    background: #ffffff;
    color: #522888;
  }

  &:active {
    background: #c7c7c7;
    color: #522888;
  }
}

.da-btn-white {
  background: #eaeaea;
  color: #522888;
  border: none;

  &:hover {
    background: #ffffff;
    color: #522888;
  }

  &:active {
    background: #c7c7c7;
    color: #522888;
  }
}

.show-desktop {
  @media (max-width: 600px) {
    display: none;
  }
}
.show-mobile {
  @media (min-width: 600px) {
    display: none;
  }
}

.da-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 2em 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
}

input {
  padding: 0.5em 1em;
  font-size: 1em;
  min-width: 320px;
}
