// thanks ot https://codepen.io/sean-su/pen/ZjOmrw

.button {
  display: inline-block;
  border-radius: 1px;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}

.buttonContent {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
}

.logo {
  padding: 15px;
  display: flex;
  justify-content: center;

  & svg {
    width: 25px;
    height: 25px;
  }
}

.paragraph {
  width: 100%;
  line-height: 1;
  letter-spacing: 0.21px;
  text-align: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
}

.google {
  background: #fff;

  &:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  }

  &:active {
    background-color: #eee;
  }

  & .paragraph {
    color: #000;
  }
}

.facebook {
  padding-top: 1.5px;
  background: #4267b2;
  background-color: #3b5998;

  &:hover {
    box-shadow: 0 0 3px 3px rgba(59, 89, 152, 0.3);
  }
}
