.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;

  & a {
    color: white;
    text-decoration: underline;
  }
}

.logo {
  height: 26px;
  width: auto;
}

.right {
  & a,
  button {
    padding: 1em;
  }

  & button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
  }
}
