.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

a.buy {
	border: none;
	background: none;
	font-weight: bold;
	text-decoration: none;
	margin: auto 3em 2em 3em;
	padding: 1em 2em;
	color: #fff;
	border-radius: 30px;
	background: -webkit-linear-gradient(left, #d49228, #d9a95d);
	background: linear-gradient(to right, #d49228, #d9a95d);
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
  
	&:hover,
	&:focus {
	  background-color: #100a13;
	}
}

.yourPackage {
	font-weight: bold;
}
  