$listItemGap: 12px;

.share {
  text-align: center;
  margin-bottom: 2em;
}

a.calendarItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
  overflow: hidden;

  h2 {
	font-size: 22px;
	margin: 20px 0 10px;
  }

  p {
	font-size: 16px;
	margin: 0 0 20px;
  }
}

.span {
	width: 100%;
	 text-align: center;
	margin-top: auto;
}

.itemSvg {
	width: 20px;
	height: auto;
	position: absolute;
	top: 20px;
	right: 20px;
	
	svg {
		path {
			fill: #e4e4e4;
		}
	}
}

.listItem {
  padding: $listItemGap;

  @media (min-width: 600px) {
	display: flex;
	max-width: 33.33333%;
	flex-grow: 1;
  }
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 -#{$listItemGap};
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-flow: column;
  }
}

.iconButton {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: #000;
  }

  svg {
    width: 1em;
    height: auto;
    color: currentColor;
    fill: currentColor;
  }
}
