$navBarHeight: 96px;
$padding: 10em;
$paddingMobile: 4em;

.hero {
	background: radial-gradient(#633491, #361067);
	padding-top: calc(#{$navBarHeight} + #{$padding});
	padding-bottom: 3em;
	margin-top: -$navBarHeight;

	@media (max-width: 650px) {
		padding-top: calc(#{$navBarHeight} + #{$paddingMobile});
	}
}

.wideContainer {
	max-width: 1330px;
}